{% extends 'main/main.html' %}
{% block content %}
{% if request.user.is_authenticated %}
    {% if state %}
    <h4>State of adding complex measurement: {{state}}.</h4><br>
    {% endif %}

{% else %}
    You must login to see this page content.
{% endif %}
    <div class="card border-dark mb-3">

        <div class="card-header">Your Complex Measurements</div>
        <div class="card-body">
            <h4 class="card-title">Complex measurement can be added in hosts page. Please visit this page by clicking monitor details and picking right host. Good luck!</h4><br>
    {% if data %}
            <div id="hosts_table">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Monitor URL</th>
                      <th scope="col">Host ID</th>
                      <th scope="col">Metric type</th>
                      <th scope="col">Time period</th>
                      <th scope="col">Details</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                    <tbody>
                        {% for custom in data %}
                    <tr>
                      <th scope="row">{{ custom.name }}</th>
                      <td>{{ custom.url }}</td>
                      <td>{{ custom.host_id }}</td>
                      <td>{{ custom.metric_type }}</td>
                      <td>{{ custom.period }}</td>
                      <td> <a href="/monitors/{{ custom.monitor_id }}/hosts/{{ custom.host_id }}/metrics/{{ custom.metric_id }}"> Detail </a></td>
                      <td> <a href="/customDelete/{{ custom.id }}" name="delete"> Delete </a></td>

                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
    {% else %}
            <h4>You have no complex measurements.</h4>
    {% endif %}
        </div>
    </div>
{% endblock %}