{% extends 'main/main.html' %}
{% load staticfiles %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static '/js/refreshChartMeasurments.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="card border-dark mb-3">
        <div class="card-header">Host</div>
            {% if host_data %}
                <div class="card-body">
                    <h4 class="card-title">Information about current host</h4>
                        <div id="hosts_detail_table">
                            <table id="host_detail_datatable" class="table table-striped table-bordered">
                                <tbody>
                                    <tr>
                                      <th scope="row">ID</th>
                                      <td>{{host_data.id}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">IP</th>
                                      <td>{{host_data.ip}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Mac</th>
                                      <td>{{host_data.mac}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Name</th>
                                      <td>{{host_data.name}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">CPU</th>
                                      <td>{{host_data.cpu}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Memory</th>
                                        <td>{{host_data.memory}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            {% else %}
                <h4>There is no data.</h4>
            {% endif %}
    </div>

    <div class="card border-dark mb-3">
        {% if metrics_data %}
            <div class="card-header">Metrics</div>
            <div class="card-body">
                <h4 class="card-title">List of all metrics in host.</h4>
                <p class="card-text">'Show' button allow you to check out some details about metric.</p>
                <div id="metrics_table">
                    <table id="metrics_datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Type</th>
                            <th scope="col">Time period (seconds)</th>
                            <th scope="col">Details</th>
                        </tr>
                      </thead>
                        <tbody>

                        {% for metric in metrics_data %}
                        <tr>
                            <th scope="row">{{metric.id}}</th>
                            <td>{{metric.type}}</td>
                            <td>{{metric.period_seconds}}</td>
                            <td> <a href="metrics/{{metric.id}}/">Show</a></td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <h4>There is no metrics.</h4>
        {% endif %}
    </div>


    <div class="card border-dark mb-3">
        <div class="card-header">Chart measurement</div>

        <div class="button_to_connect_monitor">
            <button id="startRefresh" class="btn btn-primary" onclick="startRefresh()" disabled> Start</button>
            <button id="stopRefresh" class="btn btn-primary" onclick="stopRefresh()" >Stop</button>
        </div>

        <div class="card-body">
            <div class="chart" id="chart"><svg></svg></div>
        </div>
    </div>

<script>
$(document).ready(function() {
    $('#metrics_datatable').DataTable();
} );
</script>
{% endblock %}



