{% extends 'main/main.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Host info</h1>
        {% if host_data %}
                <div id="hosts_detail_table">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                              <th scope="row">ID</th>
                              <td>{{host_data.id}}</td>
                            </tr>
                            <tr>
                              <th scope="row">IP</th>
                              <td>{{host_data.ip}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Mac</th>
                              <td>{{host_data.mac}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Name</th>
                              <td>{{host_data.name}}</td>
                            </tr>
                            <tr>
                              <th scope="row">CPU</th>
                              <td>{{host_data.cpu}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Memory</th>
                                <td>{{host_data.memory}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        {% else %}
            <h4>There is no data.</h4>
        {% endif %}
    </div>

    <div class="jumbotron">
        <h1 class="display-3">Metrics</h1>
        {% if metrics_data %}
            <div id="metrics_table">
                <table class="table table-hover">
                  <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Type</th>
                        <th scope="col">Time period (seconds)</th>
                        <th scope="col">Metric id</th>
                        <th scope="col">Details</th>
                    </tr>
                  </thead>
                    <tbody>

                    {% for metric in metrics_data %}
                    <tr>
                        <th scope="row">{{metric.id}}</th>
                        <td>{{metric.type}}</td>
                        <td>{{metric.period_seconds}}</td>
                        <td>{{metric.metric_id}}</td>
                        <td> <a href="metrics/{{metric.id}}/">Show</a></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        {% else %}
            <h4>There is no metrics.</h4>
        {% endif %}
    </div>
{% endblock %}


