{% extends 'main/main.html' %}

{% block content %}

    <div class="jumbotron">
      <h1 class="display-3">Dziesięć ostatnich pomiarów</h1>

        <br>

        <table class="table table-hover" id="table_10_last_measurements">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Monitor</th>
                  <th scope="col">Metric</th>
                  <th scope="col">Timestamp</th>
                  <th scope="col">Value</th>
                  <th scope="col">Details</th>
                </tr>
              </thead>
                <tbody>

                <tr>
                  <th scope="row">1</th>
                  <th scope="row">1.1.1.1</th>
                  <th scope="row">ram</th>
                  <th scope="row">123</th>
                  <th scope="row">321</th>
                  <th scope="row"> <a href="#">Show</a></th>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <th scope="row">1.1.1.1</th>
                  <th scope="row">ram</th>
                  <th scope="row">123</th>
                  <th scope="row">321</th>
                  <th scope="row"> <a href="#">Show</a></th>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <th scope="row">1.1.1.1</th>
                  <th scope="row">ram</th>
                  <th scope="row">123</th>
                  <th scope="row">321</th>
                  <th scope="row"> <a href="#">Show</a></th>
                </tr>

                </tbody>
        </table>
      <hr class="my-4">
      <p>Chcesz poznać więcej pomiarów, lub ściągnąć ich pełną listę?</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Więcej pomiarów</a>
      </p>
    </div>


    <div class="container">
        <button type="button" class="btn-primary" id="btnLoadChart"> Show chart</button>
         <div class="chart" id="chartBar">
          <svg></svg>
        </div>
        <div class="chart" id="chartCum">
          <svg></svg>
        </div>
         <div class="chart" id="chartPie">
          <svg></svg>
        </div>
    </div>

{% endblock %}