{% extends 'main/main.html' %}

{% block content %}
    {% if data %}
        {% for data in data %}
        <div class='data'>
            <div class='id'>
                ID: {{data.id}}
            </div>
            <div class='timestamp'>
                timestamp: {{data.timestamp}}
            </div>
            <div class='ram'>
                ram: {{data.ram}}
            </div>
            <div class='cpu'>
                cpu: {{data.cpu}}
            </div>

            <div style="height:150px; width:500px">
                <canvas id="myChart{{data.id}}" height="150px" width="500px" style="border:1px solid #000000;">
                Your browser does not support the HTML5 canvas tag.
                </canvas>
            </div>

            <script>
                drawChart({{data.id}}, {{data.ram}}, {{data.cpu}});
            </script>

        </div>

        <br>
        {% endfor %}
    {% else %}
        <h4>There is no data.</h4>
    {% endif %}
{% endblock content %}