{% extends 'main/main.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Webserver
                    <small>Logout</small>
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>You have successfully logged out! If you want to log in, click <a
                    href="{% url "login" %}">HERE</a>.</p>
        </div>
    </div>

{% endblock %}