<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webserver</title>
   <!-- <link href="{% static '/css/superhero_template/bootstrap.min.css' %}" rel="stylesheet" type="text/css" /> -->
    {% block scripts %}
    <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/litera_template/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/css/nv.d3.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/js/js.js' %}"></script>
    <script src="{% static '/js/d3v3.js' %}"></script>
    <script src="{% static '/js/nv.d3.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Webserver</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/monitors/">Monitors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login/">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register/">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search/">Advanced Search</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search_host' %}">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search_generic">
      <input hidden="hidden" name="search_type" value="generic">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div id="box">
    {% block content %}{% endblock %}
</div>

</body>
</html>