{% extends 'main/main.html' %}

{% block content %}
    {% if data %}
        <div id="measurements_detail_table">
            <table class="table table-hover">
                <tbody>
                    <tr>
                      <th scope="row">ID</th>
                      <td>{{data.id}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Timestamp</th>
                      <td>{{data.timestamp}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Value</th>
                      <td>{{data.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% else %}
        <h4>There is no data.</h4>
    {% endif %}
{% endblock %}

