{% extends 'main/main.html' %}

{% block content %}
    {% if metrics %}
        <div id="metrics_table">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Type</th>
                  <th scope="col">Time period (seconds)</th>
                  <th scope="col">Details</th>
                </tr>
              </thead>
                <tbody>

                {% for metric in metrics %}
                <tr>
                  <th scope="row">{{metric.id}}</th>
                  <td>{{metric.type}}</td>
                  <td>{{metric.period_seconds}}</td>
                  <td> <a href="{{metric.id}}/">Show</a></td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    {% else %}
        <h4>There is no metrics.</h4>
    {% endif %}
{% endblock %}

