{% extends 'main/main.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Metric info</h1>
        {% if metric_data %}
            <div id="metrics_detail_table">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                          <th scope="row">ID</th>
                          <td>{{metric_data.id}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Type</th>
                          <td>{{metric_data.type}}</td>
                        </tr>
                        <tr>
                          <th scope="row">Time period (seconds)</th>
                          <td>{{metric_data.period_seconds}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% else %}
            <h4>There is no data.</h4>
        {% endif %}
    </div>

    <div class="jumbotron">
        <h1 class="display-3">Measurements</h1>
        {% if measurements_data %}
            <div id="measurements_table">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Timestamp</th>
                      <th scope="col">Value</th>
                    </tr>
                  </thead>
                    <tbody>

                    {% for measurement in measurements_data %}
                        <tr>
                          <th scope="row">{{measurement.id}}</th>
                          <td>{{measurement.timestamp}}</td>
                          <td>{{measurement.value}}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        {% else %}
            <h4>There is no measurements.</h4>
        {% endif %}
    </div>
{% endblock %}


