{% extends 'main/main.html' %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-3">Monitor info</h1>

        <div id="monitors_detail_table">
            <table class="table table-hover">
                <tbody>
                    <tr>
                      <th scope="row">ID</th>
                      <td>{{id}}</td>
                    </tr>
                    <tr>
                      <th scope="row">URL</th>
                      <td>{{url}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <center>
            Whole monitor data:
            <form action="download_monitor_data">
                <input type="submit" value="Download" class="btn-primary">
            </form>
        </center>
    </div>

    <div class="jumbotron">
        {% if hosts %}
        <h1 class="display-3">Hosts</h1>
            <div id="hosts_table">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">IP</th>
                      <th scope="col">Details</th>
                    </tr>
                  </thead>
                    <tbody>

                    {% for host in hosts %}
                    <tr>
                      <th scope="row">{{host.id}}</th>
                      <td>{{host.ip}}</td>
                      <td> <a href="hosts/{{host.id}}/">Show</a></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        {% else %}
            <h4>There is no hosts.</h4>
        {% endif %}

    </div>
        <div class="container">
            <button type="button" class="btn-primary" id="btnLoadChart"> Show chart</button>
             <div class="chart" id="chartBar">
              <svg></svg>
            </div>
            <div class="chart" id="chartCum">
              <svg></svg>
            </div>
             <div class="chart" id="chartPie">
              <svg></svg>
            </div>
        </div>

{% endblock %}

