{% extends 'main/main.html' %}

{% block content %}
<div class="container text-lg-center">
    <h1 class="display-3">Monitor list</h1>
    <div id="box_for_monitor_list">
      {% if monitors %}
        {% for monitor in monitors %}
              <div class="box_for_single_monitor">
                <div class="image_monitor"></div><br>
                <div class="url_for_single_monitor"><a href="{{ monitor }}" class="card-link">{{ monitor.name }}</a></div><br>

                <div class="button_to_connect_monitor">
                  <p class="lead">
                  <a class="btn btn-success btn-lg" href="{{monitor.id}}/" role="button">Connect</a>
                </p>
                </div>
              </div>
        {% endfor %}
      {% else %}
          <h4>There is no monitors.</h4>
      {% endif %}
    </div>
</div>

{% endblock %}
