{% extends 'main/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-auto">
        <div class="page-header">
            <h2>Webserver
                <small>Register account</small>
            </h2>
        </div>
        <form action="" method="post">{% csrf_token %}
            {{ user_form | crispy }}
            <p class="text-muted">(*) Required </p>
            <input type="submit" value="Register!" class="btn btn-primary btn-block"/>
        </form>
    </div>

{% endblock %}