{% extends 'main/main.html' %}

{% block content %}

<form method="get" action="{% url 'search_host' %}">
<input hidden="hidden" name="search_type" value="advanced">
  <fieldset>
    <legend>Search host</legend>

    <div class="form-group">
      <legend>Name</legend>
      <input type="text" class="form-control" name="search_name" placeholder="Name">
    </div>

    <div class="form-group">
      <legend>IP</legend>
      <input type="text" class="form-control" name="search_ip" placeholder="e.g 192.168.100.200">
    </div>


    <div class="form-group">
      <legend>MAC</legend>
      <input type="text" class="form-control" name="search_mac" placeholder="Mac">
    </div>

    <fieldset class="form-group">
      <legend>Available measurements</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" name="CPU" type="checkbox" checked>
          CPU usage
        </label>
      </div>
      <div class="form-check disabled">
        <label class="form-check-label">
          <input class="form-check-input" name="RAM" type="checkbox" checked>
          RAM usage
        </label>
      </div>
      <div class="form-check disabled">
        <label class="form-check-label">
          <input class="form-check-input" name="HDD" type="checkbox" checked>
          HDD usage
        </label>
      </div>
    </fieldset>

        <button type="submit" class="btn btn-primary">SEARCH</button>
    </fieldset>
</form>
{% endblock %}