{% extends 'main/main.html' %}

{% block content %}
    <div class="jumbotron">

        <h1 class="display-3">Hosts</h1>
    {% if data %}
            <div id="hosts_table">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Monitor URL</th>
                      <th scope="col">IP</th>
                      <th scope="col">MAC</th>
                      <th scope="col">Name</th>
                      <th scope="col">CPU</th>
                      <th scope="col">Memory</th>
                      <th scope="col">Details</th>
                    </tr>
                  </thead>
                    <tbody>
                        {% for host in data %}
                    <tr>
                      <th scope="row">{{host.id}}</th>
                      <th scope="row">{{ host.monitor_url }}</th>
                      <td>{{host.ip}}</td>
                      <td>{{host.mac}}</td>
                      <td>{{ host.name }}</td>
                      <td>{{host.cpu}}</td>
                      <td>{{host.memory}}</td>
                      <td> <a href="/monitors/{{ host.monitor_id }}/hosts/{{host.id}}/"> Detail </a></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
    {% else %}
            <h4>There is literally no host with chosen parameters </h4>
    {% endif %}
    </div>
{% endblock %}