{% extends 'main/main.html' %}

{% block content %}

<form method="get" action="{% url 'search_host' %}">
<input hidden="hidden" name="search_type" value="advanced">
  <fieldset>
    <legend>Search host</legend>

    <div class="form-group">
      <legend>Name</legend>
      <input type="text" class="form-control" name="search_name" placeholder="Name">
    </div>

    <div class="form-group">
      <legend>IP</legend>
      <input type="text" class="form-control" name="search_ip" placeholder="e.g 192.168.100.200">
    </div>


    <div class="form-group">
      <legend>MAC</legend>
      <input type="text" class="form-control" name="search_mac" placeholder="NIE DZIALA BO MONITOR NIE OBSLUGUJE XD">
    </div>

        <button type="submit" class="btn btn-primary">SEARCH</button>
    </fieldset>
</form>
{% endblock %}