#monitors_table{
    width:800px;
    margin: 0 auto;
    padding-top:50px;
}

#hosts_table{
    width:800px;
    margin: 0 auto;
    padding-top:50px;
}

#hosts_detail_table{
    width:800px;
    margin: 0 auto;
    padding-top:50px;
}

#metrics_table{
    width:800px;
    margin: 0 auto;
    padding-top:50px;
}

#metrics_detail_table{
    width:800px;
    margin: 0 auto;
    padding-top:50px;
}

#measurements_table{
    width:800px;
    margin: 0 auto;
    padding-top:50px;
}

#measurements_detail_table{
    width:800px;
    margin: 0 auto;
    padding-top:50px;
}

.chart {
  height: 400px;
}