{% load staticfiles %}

#box{
    width:70%;
    margin: 0 auto;
    padding-top:50px;
}


.jumbotron .display-3{
    text-align: center;
}

.jumbotron .display-5{
    text-align: center;
}

.chart {
    height: 400px;
}

#box_for_monitor_list{
    display:inline-block;
    text-align:center;
}

.box_for_single_monitor{
    float:left;
    margin:10px;
    border-radius: 5px;
    padding:10px;
    height:400px;
    width:400px;
    background-color: white;
    list-style-position: inside;
}

.image_monitor {
   margin:0 auto;
   background:url('/static/images/monitor_img1.png');
   height:200px;
   width:200px;
   background-size: contain;
}​

.why_it_is_not_working_without_this????{
}

.url_for_single_monitor{
    width:350px;
    margin: 0 auto;
    text-align:center;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

.button_to_connect_monitor{
    height:50px;
    width:105px;
    margin:0 auto;
    text-align:center;
}

#monitors_detail_table{
    width:auto;
}

.cards_box{
width:700px;
height:300px;
display:inline-block;
padding-top:10px;
padding-left:10px;
}

.monitor_card{
float:left;
margin:10px;
}

#hosts_detail_table{
    width:50%;
    margin:0 auto;
}
#metrics_detail_table{
    width:50%;
    margin:0 auto;
}
#measurements_table{
    width:50%;
    margin:0 auto;
}

#button_start_stop_charts{
    width:100%;
    height:60px;
    text-align:center;
}

#button_start_stop_charts button{
    margin:10px;
    padding-left:30px;
    padding-right:30px;
}